@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Person";
}
<form asp-controller="Person" asp-action="Index" method="get">
    <h2>Person</h2>
    <a asp-controller="Person" asp-action="Create" class="ml">Create Person</a>
    <a asp-controller="Person" asp-action="GetAllPersonAsExcel" class="ml">Download As Excel</a>

    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (KeyValuePair<string, string> pair in ViewBag.ColumnNameAndProperty)
                {
                    if (pair.Value == ViewBag.CurrentSearchBy)
                    {
                        <option value="@pair.Value" selected="selected">@pair.Key</option>

                    }
                    else
                    {
                        <option value="@pair.Value">@pair.Key</option>
                    }
                }
                @*example: searchBy=Email&searchString=123*@
            </select>
        </div>
        <div class="flex-1">
            <input name="searchString" type="search" class="form-input" placeholder="Search String" value="@ViewBag.CurrentSearchString" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back" type="submit">Search</button>
            <a asp-controller="Person" asp-action="Index" class="link-hover">Clear All</a>
        </div>
    </div>
    <table class="table w-100 mt">
        <thead>
        <th>
                @*按照DRY原则，此处可以用循环进一步简化，为方便阅读，所以进行了适当的重复。此处用PartialView替换原来的plain code，*@
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.PersonName)},
            {"DisplayName","Person Name"}
            })
        </th>
        <th>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.Email)},
            {"DisplayName","Email"}
            })
        </th>
        <th>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.DateOfBirth)},
            {"DisplayName","Date Of Birth"}
            })
        </th>
        <th>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.Gender)},
            {"DisplayName","Gender"}
            })
        </th>
        <th>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.Country)},
            {"DisplayName","Country"}
            })
        </th>
        <th>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.Address)},
            {"DisplayName","Address"}
            })
        </th>
        <th>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.ReceiveNewsLetters)},
            {"DisplayName","Receive News Letters"}
            })
        </th>
        <th>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
            {"ColumnName",nameof(PersonResponse.Age)},
            {"DisplayName","Age"}
            })
        </th>
        <th>
            Options
        </th>
        </thead>
        <tbody>
            @foreach (PersonResponse personResponse in Model)
            {
                <tr>
                    <td style="width:15%">@personResponse.PersonName</td>
                    <td style="width:20%">@personResponse.Email</td>
                    <td style="width:13%">@personResponse.DateOfBirth?.ToString("yyyy-MM-dd")</td>
                    <td style="width:9%">@personResponse.Gender</td>
                    <td style="width:9%">@personResponse.Country</td>
                    <td style="width:10%">@personResponse.Address</td>
                    <td style="width:15%">@personResponse.ReceiveNewsLetters</td>
                    <td style="width:20%">@personResponse.Age</td>
                    <td style="width:20%">
                        <a asp-controller="Person" asp-action="Edit" asp-route-personID="@personResponse.PersonID">Edit</a>
                        <a asp-controller="Person" asp-action="Delete" asp-route-personID="@personResponse.PersonID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>